<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header"> </head>
<body>
<div th:replace="fragments/navBar :: nav"></div>
<h1>Fix vehicle</h1>
<h2>input regstration plate</h2>

<form class="form-check-inline my-2" th:action="@{/fix}"
        method="get">
    <input type="search" name="keyword" size="10"
           class="form-control"
           th:placeholder="#{fixVehicle.input}" required />
    <input type="submit"
           th:value=""
           class="btn btn-outline-success"/>
</form>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>